* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --teal: #3ee9e5;
  --white: #ffffff;
  --blue: #093f68;
  --dark-blue: #080c20;
  --gray: #777f98;
  --red: #ff2965;
}

/************* DESKTOP VIEW *************/

body {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Monrope", sans-serif;
  background-color: var(--dark-blue);
}

header {
  position: relative;
  width: 100%;
}

/* DESKTOP NAV */
nav {
  margin-bottom: 114px;
  width: 100%;
}

nav img {
  height: 35px;
  margin-top: 80px;
  margin-left: 70px;
}

section {
  position: relative;
}

/* DESKTOP BANNER */
.banner {
  max-width: 1440px;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  position: absolute;
}

.banner svg {
  z-index: -1;
}

.banner svg:nth-of-type(1) {
  margin-right: 40px;
}

.banner svg:nth-of-type(2) {
  margin-right: 40px;
}

.banner-txt {
  position: absolute;
  width: 40%;
  margin-top: 5%;
  /* Center the banner-txt horizontally */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 10;
}

.banner-txt h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: var(--white);
}

.banner-txt span {
  color: var(--teal);
}

.banner-txt p {
  color: var(--gray);
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  padding-top: 25px;
  padding-bottom: 45px;
}

/* DESKTOP INFO-SECTION  */

.info-section {
  width: 90%;
  margin: 60% 70px 0 70px;
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: space-between;
}

.info-sections {
  width: 220px;
}

.info-sections:nth-of-type(even) {
  margin-top: 55px;
}

.svg-info {
  background-color: var(--blue);
  width: 128px;
  height: 136px;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-info h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  margin-top: 48px;
  margin-bottom: 23px;
}

.txt-info p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--gray);
}

/* DESKTOP PRICE-SECTION  */
.price-txt {
  margin-top: 15%;
  width: 43%;
  /* Center the price-txt horizontally */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.price-txt h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: var(--white);
}

.price-txt p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--gray);
}

.price-tiers {
  display: flex;
  justify-content: space-evenly;
  margin-top: 72px;
}

.free-price-tier {
  position: relative;
  width: 33%;
  padding: 50px 40px;
  background-color: var(--blue);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.free-price-tier:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.free-price-tier > svg {
  position: absolute;
  top: -5%;
}

.free-price-tier h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  margin-bottom: 19px;
}

.free-price-tier > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  margin-bottom: 24px;
}

.free-price-tier h4 {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: var(--white);
  margin-bottom: 19px;
}

.free-price-tiers-features div {
  display: flex;
  align-items: center;
}

.free-price-tiers-features p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  margin-left: 15px;
}

.paid-price-tier {
  position: relative;
  width: 33%;
  padding: 48px 38px;
  background-color: var(--teal);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.paid-price-tier:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.paid-price-tier > svg {
  position: absolute;
  top: -9%;
}

.paid-price-tier h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--dark-blue);
  margin-bottom: 19px;
}

.paid-price-tier > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--dark-blue);
  margin-bottom: 24px;
}

.paid-price-tier h4 {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  color: var(--dark-blue);
  margin-bottom: 19px;
}

.paid-price-tier span {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.paid-price-tiers-features div {
  display: flex;
  align-items: center;
}

.paid-price-tiers-features p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--dark-blue);
  margin-left: 15px;
}

/* DESKTOP FOOTER  */
footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 150px 0 0 0;
  padding: 0 0 160px 0;
  z-index: 10;
}

footer > svg {
  position: absolute;
  width: 100vw;
  top: -10%;
  z-index: -1;
}

footer h3 {
  margin-bottom: 42px;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: var(--white);
  text-align: center;
}

.footer-form {
  display: flex;
  align-items: flex-start;
}

input[type="text"] {
  width: 20em;
  background: #093f68;
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  border: none;
  color: var(--white);
  border-radius: 24px;
  padding: 12px 0 12px 18px;
  margin: 0 16px 0 0;
}

input[type="text"]:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.footer-form button {
  background-color: #3ee9e5;
  border: none;
  border-radius: 24px;
  font-weight: 800;
  font-size: 15px;
  line-height: 25px;
  color: var(--dark-blue);
  padding: 12px 18px;
  transition: all 0.5s ease-in-out;
}

.footer-form button:hover {
  cursor: pointer;
  border: 1px solid var(--teal);
  background-color: var(--dark-blue);
  color: var(--white);
  transition: all 0.5s ease-in-out;
}

.input-form p {
  display: none;
  margin-top: 5px;
  color: red;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  padding-left: 20px;
}

/************* TABLET VIEW *************/
@media screen and (max-width: 768px) {
  /* TABLET NAV */
  nav {
    margin-bottom: 77px;
  }
  nav img {
    margin-top: 50px;
    margin-left: 40px;
  }

  /* TABLET BANNER */
  .banner svg:nth-of-type(1) {
    margin-right: 40px;
  }

  .banner svg:nth-of-type(2) {
    margin-right: 40px;
  }

  .banner-txt {
    width: 54%;
    padding-top: 0;
  }

  .banner-txt h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .banner-txt p {
    padding-top: 18px;
    padding-bottom: 20px;
  }

  /* TABLET INFO-SECTION  */
  .info-section {
    flex-direction: column;
    margin: 430px 40px 0 40px;
  }

  .info-sections {
    width: 100%;
    margin-bottom: 40px;
    align-items: flex-end;
    justify-content: center;
  }

  .info-sections:nth-of-type(even) {
    margin-top: 0;
  }

  .info-sections:nth-of-type(odd) {
    margin-left: 7%;
  }

  .svg-info {
    width: 100px;
    height: 110px;
    margin-right: 55px;
  }

  .info-sections {
    display: flex;
  }

  .svg-info svg {
    scale: 0.65;
  }

  .txt-info {
    width: 51%;
  }

  .txt-info h3 {
    margin-bottom: 10px;
  }

  /* TABLET PRICE-SECTION  */
  .price-txt {
    width: 68%;
  }

  .price-txt h2 {
    font-size: 24px;
    line-height: 33px;
  }

  .price-tiers {
    flex-direction: column;
    align-items: center;
  }

  .free-price-tier {
    width: 58%;
    margin-bottom: 65px;
  }

  .paid-price-tier {
    width: 58%;
  }

  /* TABLET FOOTER  */
  footer {
    margin-top: 120px;
  }
  footer h3 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 30px;
  }
}
/************* MOBILE VIEW *************/
@media screen and (max-width: 375px) {
  body {
    min-width: 300px;
  }
  /* MOBILE NAV */
  nav {
    display: flex;
    justify-content: center;
  }

  nav img {
    margin-left: 0;
  }

  /* MOBILE BANNER */
  .banner svg:nth-of-type(1) {
    margin-right: 0;
  }

  .banner svg:nth-of-type(2) {
    display: none;
    margin-right: 0;
  }

  .banner-txt {
    margin-top: 250px;
    width: 90%;
  }

  .banner-txt h1 {
    font-size: 32px;
    line-height: 40px;
  }

  /* MOBILE INFO-SECTION  */

  .info-section {
    width: 100%;
    margin: 700px 20px 20px 0;
    text-align: center;
  }

  .info-sections {
    flex-direction: column;
    align-items: center;
  }

  .info-sections:nth-of-type(odd) {
    margin-left: 0;
  }

  .svg-info {
    margin-right: 0;
  }

  .txt-info {
    width: 90%;
  }

  .txt-info h3 {
    margin-top: 32px;
  }

  /* MOBILE PRICE-SECTION  */
  .price-txt {
    width: 90%;
  }

  .price-txt h2 {
    margin-bottom: 27px;
  }

  .free-price-tier {
    width: 90%;
  }

  .paid-price-tier {
    width: 90%;
  }

  /* MOBILE FOOTER  */
  footer {
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
  }
  footer h3 {
    width: 60%;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 30px;
  }

  .footer-form {
    flex-direction: column;
    align-items: stretch;
  }

  input[type="text"] {
    width: 100%;

    padding: 12px 0 12px 18px;
  }

  .footer-form button {
    margin-top: 20px;
  }
}
