* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --teal: #3ee9e5;
  --white: #ffffff;
  --blue: #093f68;
  --dark-blue: #080c20;
  --gray: #777f98;
  --red: #ff2965;
}

/************* DESKTOP VIEW *************/

body {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Monrope", sans-serif;
  background-color: var(--dark-blue);
}

header {
  position: relative;
}

/* DESKTOP NAV */
nav {
  margin-bottom: 114px;
}

nav img {
  height: 35px;
  margin-top: 80px;
  margin-left: 100px;
}

section {
  position: relative;
}

/* DESKTOP BANNER */
.banner {
  max-width: 1440px;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  position: absolute;
}

.banner svg {
  z-index: -1;
}

.banner svg:nth-of-type(1) {
  margin-right: 40px;
}

.banner svg:nth-of-type(2) {
  margin-right: 40px;
}

.banner-txt {
  position: absolute;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  z-index: 10;
  padding-top: 90px;
}

.banner-txt h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: var(--white);
}

.banner-txt span {
  color: var(--teal);
}

.banner-txt p {
  color: var(--gray);
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  padding-top: 25px;
  padding-bottom: 65px;
}

/* INFO-SECTION  */

.info-section {
  min-width: 1000px;
  margin: 720px 100px 0 100px;
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: space-between;
}

.info-sections {
  width: 220px;
}

.info-sections:nth-of-type(even) {
  margin-top: 55px;
}

.svg-info {
  background-color: var(--blue);
  width: 128px;
  height: 136px;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-info h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  margin-top: 48px;
  margin-bottom: 23px;
}

.txt-info p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--gray);
}

/************* TABLET VIEW *************/
@media screen and (max-width: 768px) {
  body {
    min-width: 700px;
  }
  /* TABLET NAV */
  nav {
    margin-bottom: 77px;
  }
  nav img {
    margin-top: 50px;
    margin-left: 40px;
  }

  /* TABLET BANNER */
  .banner svg:nth-of-type(1) {
    margin-right: 40px;
  }

  .banner svg:nth-of-type(2) {
    margin-right: 40px;
  }

  .banner-txt {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 0;
  }

  .banner-txt h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .banner-txt p {
    padding-top: 18px;
    padding-bottom: 20px;
  }

  /* TABLET INFO-SECTION  */
  .info-section {
    min-width: 0;
    flex-direction: column;
    margin: 430px 40px 0 40px;
  }

  .info-sections {
    width: 100%;
    margin-bottom: 40px;
    align-items: flex-end;
    justify-content: center;
  }

  .info-sections:nth-of-type(even) {
    margin-top: 0;
  }

  .info-sections:nth-of-type(odd) {
    margin-left: 100px;
  }

  .svg-info {
    width: 100px;
    height: 110px;
    margin-right: 55px;
  }

  .info-sections {
    display: flex;
  }

  .svg-info svg {
    scale: 0.65;
  }

  .txt-info {
    width: 290px;
  }

  .txt-info h3 {
    margin-bottom: 10px;
  }
}

/************* MOBILE VIEW *************/
@media screen and (max-width: 375px) {
  body {
    min-width: 300px;
  }
  /* MOBILE NAV */
  nav {
    display: flex;
    justify-content: center;
  }

  /* MOBILE BANNER */
  .banner svg:nth-of-type(1) {
    margin-right: 0;
  }

  .banner svg:nth-of-type(2) {
    display: none;
    margin-right: 0;
  }

  .banner-txt {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 250px;
  }

  .banner-txt h1 {
    font-size: 32px;
    line-height: 40px;
  }

  /* MOBILE INFO-SECTION  */

  .info-section {
    margin: 700px 20px 20px 0;
    text-align: center;
  }

  .info-sections {
    flex-direction: column;
    align-items: center;
  }

  .info-sections:nth-of-type(odd) {
    margin-left: 0;
  }

  .svg-info {
    margin-right: 0;
  }

  .txt-info h3 {
    margin-top: 32px;
  }
}
